/*
====================================             Parallax Background Container
*/
/*
you can control the height and width of this container
changing values in this class may affect other containers within
*/
.parallax-container{
    height: 300px;
    z-index: 0;
}
/*
parallax-container animation class
*/
.stretch{
    animation: stretch 0.3s cubic-bezier(0, 0.42, 0, 1.29);
    animation-fill-mode: forwards;
}
/*
------------------- the parallax element
*/
.parallax{
    /* The image used */
    /*https://www.hdwallpapers.in/walls/mr_robot_hd_4k_8k-HD.jpg*/
    background-image:url('../../../images/Flooded_Hangar.jpg');
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}

/*
--------------------Div that holds the account name
*/
/*
You can control the height of the div
as well as the position
*/
.acc-name-bg{
    width: auto;
    height: 40px;
    position: absolute;
    bottom: 0px;
    border-top-right-radius: 10px;
}
/*
displays the account name
can edit the font type as well as the size
*/
.acc-name{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 28px;
    text-transform: uppercase;
    text-shadow:
        -1px -1px 0 #2469BB,  
        1px -1px 0 #2469BB,
        -1px 1px 0 #2469BB,
        1px 1px 0 #2469BB;
}
.acc-name .material-icons{
    font-size: 40px;
}
.parallax .row{
    padding: 0px;
    margin: 0;
}


/*
=============================           Main account container
*/
/*
-------------------   contains all elements under the bg image
*/
/*
seperate from the background image container for the users name
*/
.acc-body{
    width: auto;
    height: 40%;
}
.tab-links{
    position: absolute;
    right: 20px;
    bottom: 0;
    text-align: right;
    display: flex;
}
.tab{
    height: 100%;
    background-color: #FFF;
    padding: 6px 20px 0px 20px;
    border-radius: 30% 10% 0% 0%;
    display: inline-block;
}
.tab:hover{
    animation: pop 0.2s ease-in;
    animation-fill-mode: forwards;
    cursor: pointer;
}
.tab.current{
    background-color: #000;
}
.tab-content{
    display: none;
    padding: 15px;
}
.tab-content.current{
    display: inherit;
}
/*
label for sections on acc page
*/
.label{
    font-size: 20px;
    text-transform: uppercase;
}
.holder{
    width: 100%;
    height: 100%;
}
.acc-body .section{
    max-width: 100%;
    margin-top: 20px;
    padding: 10px;
}



/*
====================================     recent activity container.
*/
/*
---------------holds the recent activity messages
*/
.recactivity_container{
    flex: 1;
    margin-bottom: 7%;
    overflow: hidden;
}
.recactivity_container .label{
    font-size: 20px;
    padding: 5px;
    letter-spacing: 5px;
    font-weight: 600;
    text-shadow:
    -1px -1px 0 #2469BB,  
    1px -1px 0 #2469BB,
    -1px 1px 0 #2469BB,
    1px 1px 0 #2469BB;
}
.recent_activity{
    max-height: 1000px;
    height: 100%;
}
.recent_activity:last-child{
    border-bottom: 0px;
}

.post{
    height: 20%;
    display: flex;
}
.account-image{
    width: 15%;
    margin: auto 0 auto -15%;
    z-index: 1;
}
.account-image > .material-icons{
    font-size: 65px;
}
.message{
    display: inline-block;
    width: 100%;
    z-index: 2;
}
.message:hover{
    animation: slide 0.3s forwards;
    animation-delay: 200ms;
}
.message .time{
    font-size: 10px;
    color: grey;
}



/*
=========================================      Animations
*/
/*
-------------------Pop effect tabs
*/
@-webkit-keyframes pop{
      100%  {transform: scale(1.2); background-color: #000;}
}
@keyframes pop{
      100%  {transform: scale(1.2); background-color: #000;}
}
/*
-------------------Stretch effect parallax
*/
@-webkit-keyframes stretch{
    100% {    
        z-index: 10; 
        width: 100%; 
        height: 100%; 
        position: fixed;
        top: 0;
        left: 0;
    }
}
@keyframes stretch{
    100% {
        z-index: 10;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
}


@keyframes slide {
    100% {transform: translateX(-15%);}
}


/*
================================================ Screen size (1024px)
*/
@media only screen and (max-width: 1024px) {
/*
=============================           Main account container
*/
/*
-------------------   contains all elements under the bg image
*/
/*
seperate from the background image container for the users name
*/
    .acc-body{
        height: 60%;
    }

    .holder{
        width: 100%;
        height: auto;
        overflow-x: auto;
        overflow-y: auto;
    }
/*
    ====================================     recent activity container.
*/
/*
---------------holds the recent activity messages
*/
    .recactivity_container{
        width: 100%;
        border-radius: 0%;
        padding-bottom: 5px;
    }
    .recactivity_container .label{
        padding: 10px;
        letter-spacing: 5px;
    }
    .recent_activity{
        border-bottom: 1px solid #FFF;
        height: 100%;
    }
    .account-image{
        display: inline;
        height: 100%;
        width: 15%;
        margin-left: 0;
        z-index: 1;
    }
    .message {
        animation: none;
    }
    .message:hover {
        animation: none;
    }
}

/*
================================================ Screen size (768px)
*/
@media only screen and (max-width: 768px) {
    
    .tabs-mobile {
        width: 100%;
        padding: 0%;
        display: flex;
    }
    .tabs-mobile .tab {
        flex:auto;
        text-align: center;
        border-radius: 0;
    }
    .tabs-mobile .tab:hover{
        background-color: #000;
        animation: none;
        cursor: pointer;
    }

}
