
    <div class="parallax-container z-depth-1">
        <div class="parallax">
            <div>
                <div class="acc-name-bg">
                    <div class="acc-name left White_Text"><i class="material-icons left">account_circle</i>{{ username }}</div>
                </div>
            </div>

<!--        
===       Tabs for the mobile screen size
-->
            <div>
                <div class="tab-links">
                    <div class="tab current" data-tab="tab-home">
                        <i class="material-icons LPink_Text">home</i>
                    </div>
                    <div class="tab" data-tab="tab-image">
                        <i class="material-icons LPink_Text">image</i>
                    </div>
                    <div class="tab" data-tab="tab-group">
                        <i class="material-icons LPink_Text">group</i>
                    </div>
                    <div class="tab" data-tab="tab-settings">
                        <i class="material-icons LPink_Text">settings</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs-mobile">
        <div class="tab current" data-tab="tab-home">
                <i class="material-icons LPink_Text">home</i>
        </div>
        <div class="tab" data-tab="tab-image">
            <i class="material-icons LPink_Text">image</i>
        </div>
        <div class="tab" data-tab="tab-group">
            <i class="material-icons LPink_Text">group</i>
        </div>
        <div class="tab" data-tab="tab-settings">
            <i class="material-icons LPink_Text">settings</i>
        </div>
    </div>        

    
<!--
=======   Account body
-->
    <div class="acc-body">


        <div class="holder">
            <div id="tab-home" class="tab-content current">
                <div class="section">
                    <div class="Uploads">
                        <label class="label LtBlue_Text">Uploads <button mat-icon-button class="LPink_Text" type="button" [routerLink]="['create']"><mat-icon>add_photo_alternate</mat-icon></button> </label>
                        <app-post-list></app-post-list>
                    </div>
                </div>

                <div class="section">
                    <div class="group">
                        <label class="label LtBlue_Text">Group Activity</label>
                    </div>
                </div>
            </div>
<!--
----------------    image tab-content
-->
            <div id="tab-image" class="tab-content">
                <div class="section">
                    <div class="collection">
                        <label class="label LtBlue_Text">Collection</label>
                    </div>
                </div>
            </div>
<!--
----------------    group tab-content
-->
            <div id="tab-group" class="tab-content">
                <div class="section">
                    <div class="groups">
                        <label class="label LtBlue_Text">Groups</label>
                    </div>
                </div>
            </div>
<!--
----------------    settings tab-content
-->
            <div id="tab-settings" class="tab-content">
                <div class="section">
                    <div class="settings">
                        <label class="label LtBlue_Text">Settings</label>
                        <div class="accordian">

                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>

  
<div class="recactivity_container Monsterrat Black_BG ">
    <div class="label center DtBlack_BG White_Text">Recent Activity</div>
    <div class="recent_activity">
        <div class="post">
            <div class="message LPink_BG right-align">
                <div id="post-dateTime" class="time">
                    Tuesday, Feb 2, 2017 at 2:14 AM
                </div>
                <div class="text">
                    Great day we're having
                </div>
            </div>
            <div class="account-image Blue_Text">
                <mat-icon>account_circle</mat-icon>
            </div>
        </div>
        <div class="post">
            <div class="message LPink_BG right-align">
                <div class="time">
                    Tuesday, Feb 2, 2017 at 2:14 AM
                </div>
                <div class="text">
                    Great day we're having
                </div>
            </div>
            <div class="account-image Blue_Text">
                <mat-icon>account_circle</mat-icon>
            </div>
        </div>
        <div class="post">
            <div class="message LPink_BG right-align">
                <div class="time">
                    Tuesday, Feb 2, 2017 at 2:14 AM
                </div>
                <div class="text">
                    Great day we're having
                </div>
            </div>
            <div class="account-image Blue_Text">
                <mat-icon>account_circle</mat-icon>
            </div>
        </div>
    </div>
</div>