<div class="userInformation">
    <div *ngIf="!isAuthenticated" class="loginLink">
        <a [routerLink]="['/auth']"  href="#" >
            <mat-grid-list cols="2" >
                <mat-grid-tile>
                    <mat-icon >login</mat-icon>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>Login</p>
                </mat-grid-tile>
            </mat-grid-list>
        </a>
    </div>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="isAuthenticated" class="userButton" >
        <mat-grid-list cols="4" >
            <mat-grid-tile colspan="1">
                <app-user-image class="valign-wrapper"></app-user-image>
            </mat-grid-tile>
            <mat-grid-tile colspan="3" fxHide.lt-md>
                <p class="LBlue_Text">
                    {{username}}
                </p>
            </mat-grid-tile>
        </mat-grid-list>
    </button>

    
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="emitLogout()"> Logout </button>
    </mat-menu>
</div>