<div>
    <div *ngIf="!isAuthenticated">
        <a [routerLink]="['/auth']"  href="#">
            <mat-icon>login</mat-icon>
            Login
        </a>
    </div>
    <button mat-button [matMenuTriggerFor]="menu">
        <div id="user-info" class="userinfohover" *ngIf="isAuthenticated" >
            <div class="row " >
                <div class="col s1">
                    <app-user-image></app-user-image>
                </div>
                <div class="col">
                    <p id="username" class="yellow ">
                        Jovan Borkovic
                    </p>
                </div>
            </div>
    
        </div>
    </button>

    
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="emitLogout()"> Logout </button>
    </mat-menu>
</div>