<!--Nav link routing-->
<app-navbar></app-navbar>

<!--container that holds information between the nav and footer-->
<div class="container">
<div id="main-threads" class="thread">
    
    <Label class="label LtBlue_Text">Main Threads</Label>
    
    <div class="row">
        <div class="col s12">
            <div class="collection">
                <a [routerLink]="['/forumthread']" routerLinkActive="router-link-active"  class="collection-item">Alvin</a>
                <a href="#!" class="collection-item">Alvin</a>
                <a href="#!" class="collection-item">Alvin</a>
                <a href="#!" class="collection-item">Alvin</a>
            </div>
        </div>
    </div>
</div>

<div class="divider"></div>

<div id="user-threads" class="thread">
    
    <Label class="label LtBlue_Text">User Threads</Label>
    
    <div class="row">
        <div class="col s12">
            <div class="collection">
                <a href="#!" class="collection-item">Alvin</a>
                <a href="#!" class="collection-item">Alvin</a>
                <a href="#!" class="collection-item">Alvin</a>
                <a href="#!" class="collection-item">Alvin</a>
                <a href="#!" class="collection-item">Alvin</a>
                <a href="#!" class="collection-item">Alvin</a>
                <a href="#!" class="collection-item">Alvin</a>
                <a href="#!" class="collection-item">Alvin</a>
                <a href="#!" class="collection-item">Alvin</a>
                <a href="#!" class="collection-item">Alvin</a>
                <a href="#!" class="collection-item">Alvin</a>
                <a href="#!" class="collection-item">Alvin</a>
            </div>
        </div>
    </div>
    <div class="pagination center">
        <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </div>
</div>
</div>


<app-modals></app-modals>