<!--Nav Links for routing-->
<app-navbar></app-navbar>

  <!--container that holds information between the nav and footer-->
      <div class="wide-container">
  <!--the search bar-->
          <div class="search">
               <form>
                  <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search">
                        <i class="material-icons">search</i>
                      </label>
                      <i class="material-icons">X</i>
                   </div>
              </form>
          </div> 
  
          <app-parallax></app-parallax>

  <!--
  ===========================================================      Centering Container
  -->
          <div class="container center">
            <!--Labeling of most viewed images today-->
            <div class="col s12">
              <label class="sectionLabel LtBlue_Text">Most Viewed This Week</label>
            </div>
            <app-newest></app-newest>
  
          
          
  <!--
  -----------------------------------------------------------    section 2
  -->
          <div class="col s12 center">
            <label class="sectionLabel LtBlue_Text">Recent Posts</label>
          </div>
         <app-newest></app-newest>
        </div>
    
    <app-modals></app-modals>
