<app-navbar></app-navbar>

      <div class="wide-container">
          <div class="search">
               <form>
                  <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search">
                        <i class="material-icons">search</i>
                      </label>
                      <i class="material-icons">X</i>
                   </div>
              </form>
          </div> 
  
          <app-parallax></app-parallax>

          <div class="container center">
            <div class="col s12">
              <label class="sectionLabel LtBlue_Text">Most Viewed This Week</label>
            </div>
  
          
          
          <div class="col s12 center">
            <label class="sectionLabel LtBlue_Text">Recent Posts</label>
          </div>
        </div>
