a {
    cursor: pointer;
}

.wide-container{
    width: 100%;
}

html, body {
    height: 100vh;
}

.wide-container > .container {
    padding: 0px;
    display: flex;
    justify-content: center;
}

.wide-container mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
.wide-container mat-sidenav {
    width: 250px;
}

/*
======================      Max screen width 1024px laptop size    =================
*/
@media only screen and (max-width: 1024px){
/*  classes   */
    
    nav i.material-icons{
        font-size: 30px; /*this changes the size of the icon on the nav*/
    }
    
/*Modal*/
    .modal{
        height: 80% !important;
        width: 50% !important;
    }
}
