<div class="wide-container">
    <mat-sidenav-container>
        <mat-sidenav #sidenav role="navigation">
          
          <!--this is a place for us to add side-nav code-->
          <mat-nav-list>
            <a mat-list-item [routerLink]="['/']" routerLinkActive="DBlue_Text DWhite_BG" [routerLinkActiveOptions]="{exact:true}" (click)="onSidenavClose()">
                <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
            </a>
            <a mat-list-item [routerLink]="['/art']" routerLinkActive="DBlue_Text DWhite_BG" (click)="onSidenavClose()">
                <mat-icon>image</mat-icon> <span class="nav-caption">Art</span>   
            </a>
            <a mat-list-item [routerLink]="['/forum']" routerLinkActive="DBlue_Text DWhite_BG" *ngIf="isAuthenticated" (click)="onSidenavClose()">
                <mat-icon>forum</mat-icon><span class="nav-caption">Forums</span>
            </a>
            <a mat-list-item [routerLink]="['/support']" routerLinkActive="DBlue_Text DWhite_BG" *ngIf="isAuthenticated" (click)="onSidenavClose()">
                <mat-icon>form</mat-icon><span class="nav-caption">Contact</span>
            </a>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-navbar (sidenavToggle)="sidenav.toggle()" (loggingOut)="logOut()" ></app-navbar>
          <!--in here all the content must reside. We will add a navigation header as well-->
          <main>
            <router-outlet></router-outlet>
          </main>
        </mat-sidenav-content>
      </mat-sidenav-container>
</div>
