
    <!--holds the thread question or message-->
    <div id="T_Container"  class="T_Container z-depth-2">
        <div class="row">
            <div class="col s8">
                <label class="thread_title LtBlue_Text">Thread Title</label>
            </div>
            <div class="col s3 right-align">
                <label class="thread_status">Status:</label>
            </div>
            <div id="status-check" class="col s1 center red-text">
                <i class="material-icons">check</i>
            </div>
        </div>
        <div class="row">
            <div id="Message" class="col s12 LPink_Text">
                sfasfadsfadfsf
            </div>
        </div>
    </div>





    <div id="comments"></div>

