:host {
    display: block;
    margin-top: 1rem;
}

.info-text {
    text-align: center;
}

.post-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.post-image{
    max-width: 20%;
    height: 100%;
}
.post-image:hover {
    cursor: pointer;
}

.post-image img{
    max-height: 100%;
    max-width: 100%;
    display: block;
}

mat-paginator{
    margin-top: 1rem;
}

mat-action-row {
    display: inline;
}