
mat-paginator{
    margin-top: 1rem;
}

mat-action-row {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    height: 10%;
}

:host {
    display: block;
    margin-top: 1rem;
}

.info-text {
    text-align: center;
}

.img{
    max-height: 100%;
}

mat-grid-list {
    width: 90%;
    margin: 0 auto;
    padding: 0px;
}

