  <!-- 
  ============================================     Sign up Modal Structure 
  -->
  <div id="modal1" class="modal center-align">
    <!--Sign up form content -->
        <div class="modal-content">
          <h4>Sign Up</h4>
              <div class="row">
                <form class="col s12">
    <!--Username input div-->
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="user_name" type="text" class="validate">
                      <label for="user_name">Username</label>
                    </div>
                  </div>
    <!--password input div-->
                  <div class="row">
                    <div class="input-field col s12 m6">
                      <input id="password" type="password" class="validate">
                      <label for="password">Password</label>
                    </div>
    <!--confirm pass input div-->
                    <div class="input-field col s12 m6">
                      <input id="confirm_password" type="password" class="validate">
                      <label for="confirm_password">Confirm Password</label>
                    </div>
                  </div>
    <!--E-mail input div-->
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="email" type="email" class="validate">
                      <label for="email">Email</label>
                    </div>
                  </div>
                </form>
              </div>
        </div>
    <!--          Modal footer(Sign-up buttons and so on)        -->
        <div class="modal-footer">
            <div class="center-align">
                <a class="btn LPink_Text White_BG waves-effect waves-light" type="submit" name="action">Sign Up</a>
            </div>
            <div class="center-align">
                <a class="modal-close btn">Close</a>
            </div>
        </div>
      </div>
        
        
    <!--
    ============================================     Login Modal Structure 
    -->
      <div id="modal2" class="modal center-align">
    <!--Login form-->
        <div class="modal-content">
          <i class="large material-icons">account_circle</i>
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="email" type="email" class="validate">
                      <label for="email">Email</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="password" type="password" class="validate">
                      <label for="password">Password</label>
                    </div>
                  </div>
                </form>
              </div>
        </div>
    <!--Modal footer(Login buttons and so on)-->
        <div class="modal-footer">
            <div class="center-align">
                <a class="btn LPink_Text White_BG waves-effect waves-light" type="submit" name="action">Login</a>
            </div>
            <div class="center-align">
                <a class="modal-close btn">Close</a>
            </div>
        </div>
      </div>