
<div class="LtBlack_BG">
    <form>
        <div fxFlex fxLayout class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon" for="search">
                <i class="material-icons">search</i>
            </label>
            <i class="material-icons">X</i>
        </div>
        <mat-accordion >
            <mat-expansion-panel hideToggle class="DBlack_BG ">
                <mat-expansion-panel-header>
                <mat-panel-title>

                </mat-panel-title>
                <mat-panel-description style="color: white !important;">
                    Filters
                </mat-panel-description>
                </mat-expansion-panel-header>

                <section class="filter-section center">
                    <span class="filter-list-section">
                        <mat-checkbox class="filter-margin"
                                        [checked]="allComplete"
                                        [indeterminate]="someComplete()"
                                        (change)="setAll($event.checked)">
                            {{genres.name}}
                        </mat-checkbox>
                        </span>
                    <span class="filter-list-section">
                        <ul>
                            <li *ngFor="let subtask of genres.subtasks">
                            <mat-checkbox [(ngModel)]="subtask.completed"
                                            [color]="subtask.color"
                                            (ngModelChange)="updateAllComplete()">
                                {{subtask.name}}
                            </mat-checkbox>
                            </li>
                        </ul>
                    </span>
                </section>
                
            </mat-expansion-panel>
        </mat-accordion>
        <button   mat-button type="submit" class="DPink_BG">Submit</button>

        
    </form>
</div>