
<div class="LtBlack_BG">
    <form>
        <div fxFlex fxLayout class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon" for="search">
                <i class="material-icons">search</i>
            </label>
            <i class="material-icons">X</i>
        </div>
        <button   mat-button type="submit" class="DPink_BG">Submit</button>
    </form>

<mat-accordion >
    <mat-expansion-panel hideToggle class="DBlack_BG ">
        <mat-expansion-panel-header>
        <mat-panel-title>

        </mat-panel-title>
        <mat-panel-description style="color: white !important;">
            Filters
        </mat-panel-description>
        </mat-expansion-panel-header>
            <div class="s3 center">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Environmental</a>
                        <a class="dropdown-item" href="#">Landscape</a>
                        <a class="dropdown-item" href="#">Paintings</a>
                    </div>
                </div>
            </div>
    </mat-expansion-panel>
</mat-accordion>

</div>