
<div class="LtBlack_BG p-5">
        <div class="row">
            <div class="search col-sm-7">
                    <form>
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search">
                            <i class="material-icons">search</i>
                        </label>
                        <i class="material-icons">X</i>
                        </div>
                </form>
            </div>
            <div class="col-sm-2  center">
                <div class="btn LtPink_BG text-white">Search</div>
            </div>
        </div>

        <div class="row">
            <a class="col-12 LBlack_BG filter-label" data-toggle="collapse" href="#collapsefilter" role="button" aria-expanded="false" aria-controls="collapsefilter">
                Filters
            </a>
        </div>
        <div class="row">
            <div class="collapse" id="collapsefilter">
                <div class="row">
                    <div class="col-sm-3 center">
                        <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown button
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Environmental</a>
                            <a class="dropdown-item" href="#">Landscape</a>
                            <a class="dropdown-item" href="#">Paintings</a>
                        </div>
                      </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
</div>